<div id="sidebar">
    <div id="woo_search-3" class="widget widget_woo_search">
        <h3>Search</h3>
        <div class="search_main">
        </div>
    </div>
    <div id="linkcat-5" class="widget widget_links">
        <h3>links</h3>
        <ul class='xoxo blogroll'>
            <li><a href="http://www.kristeraxel.com" rel="me" title="my home page" target="_blank">kristeraxel.com</a></li>
            <li><a href="http://axelradio.com" rel="me" title="Download songs by Krister Axel and read the lyrics." target="_blank">Lyrics + Downloads</a></li>
        </ul>
    </div>
</div><!-- /#sidebar -->