---
layout: archives
---

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }} | Krister Axel</title>
        {% include _super_header.html %} 

    </head>

    <body>
	<!-- the id on the containing div determines the page width. -->
	<!-- #doc = 750px; #doc2 = 950px; #doc3 = 100%; #doc4 = 974px -->
	<div id="doc">					
		<div id="hd">
			{% include _header.html %}
		</div>
		<div id="bd" class="container">
			<h2 class="title">
                Archives
            </h2>
			
				{% for month in page.months %}
			        {% capture yearname %}{{month | date:"%Y"}}{% endcapture %}
			        {% if yearname != '1900' %}
				      {{ month | date:"%B" }} {{ month | date:"%Y" }}
				      <ul>
				        {% for post in page.posts_by_month[month] %}
				          <h2><li><a href="/{{ post.url }}">{{ post.title | truncate:65 }}</a></li></h2>
				        {% endfor %}
				      </ul>
				    {% endif %}
				{% endfor %}
				
		</div>
		<div id="ft">
			{% include _footer.html %}
		</div>
	</div>
	</body>

</html>