---
layout: blog
---

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }} | Krister Axel</title>
        {% include _super_header.html %} 

    </head>

    <body>
	<!-- the id on the containing div determines the page width. -->
	<!-- #doc = 750px; #doc2 = 950px; #doc3 = 100%; #doc4 = 974px -->
	<div id="doc">					
		<div id="hd">
			{% include _header.html %}
		</div>
		<div id="bd" class="container">
			<h2 class="title">
                {{ page.title }}
            </h2>
			{{ content | newline_to_br }}
			<div class="post-meta">
                <span class="small">By</span> <span class="author vcard"><span class="fn"><a href="http://kristeraxel.com" title="Posts by Krister Axel" rel="author">Krister Axel</a></span></span> 
                <span class="small">on</span> <abbr class="date time published">{{page.postday}} at {{page.posttime}}</abbr> 
                <span class="small">in</span> 
                <span class="categories">
                    {% for cat in page.categories %}
						<a href="/category/{{cat}}/">{{cat}}</a> 
                    {% endfor %}
                </span>
            </div>
		</div>
		<div id="ft">
			{% include _footer.html %}
		</div>
	</div>
	</body>

</html>